<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Snippetify modal</title>
        <link rel="stylesheet" href="vendor/css/all.min.css">
        <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
        <link rel="stylesheet" href="vendor/css/codemirror.css">
        <link rel="stylesheet" href="vendor/css/simplemde.min.css">
        <link rel="stylesheet" href="css/pagemodal.min.css">
    </head>
    <body>
        <div id="app">
            <div class="modal fade" id="snippetForm" tabindex="-1" role="dialog" aria-labelledby="snippetFormLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-flex align-items-center">
                            <img src="img/icon_48.png" width="24px" class="float-left mr-2" alt="">
                            <h6 class="modal-title" id="snippetFormLabel">Save snippet</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <input type="text" v-model="title" placeholder="The snippet's title" class="form-control" id="title">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Enter the code" id="code"></textarea>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Enter the description" id="desc"></textarea>
                                </div>
                                <div class="form-group">
                                    <input v-model="tags" type="text" placeholder="The snippet's tags" class="form-control" id="tags">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="save">Save snippet</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="unauthenticatedModal" tabindex="-1" role="dialog" aria-labelledby="unauthenticatedModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-flex align-items-center">
                            <img src="img/icon_48.png" width="24px" class="float-left mr-2" alt="">
                            <h6 class="modal-title" id="unauthenticatedModalLabel">Not connected</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <p>
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-plug fa-stack-1x"></i>
                                    <i class="fas fa-ban fa-stack-2x fav-text-color"></i>
                                </span>
                            </p>
                            <p>
                                <small class="text-secondary italic">Authentication required to save snippet</small>
                            </p>
                            <p class="mt-3">
                                <a href="#" type="button" class="btn btn-sm btn-primary" id="connectNow" data-dismiss="modal">Connect now</a>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                  </div>
                </div>
            </div>
        </div>

        <script src="vendor/js/codemirror.js"></script>
        <script src="vendor/js/simplemde.min.js"></script>
        <script src="vendor/js/jquery.min.js"></script>
        <script src="vendor/js/bootstrap.min.js"></script>
        <script src="js/pagemodal.min.js"></script>
    </body>
</html>